<fieldset>
    <ul>
        <p>Démonstrations</p>
        <li><a routerLink="/demonstrations/binding">Bindings</a></li>
        <li><a routerLink="/demonstrations/pipe">Pipes</a></li>
        <li><a routerLink="/demonstrations/input-output">Input Output</a></li>
        <li><a routerLink="/demonstrations/service">Services</a></li>
        <p>Exercices</p>
        <li><a routerLink="/exercices/binding">Bindings</a></li>
        <li><a routerLink="/exercices/directive">directives</a></li>
        <li><a routerLink="/exercices/shopping-list">shopping list (input-output)</a></li>
        <li><a routerLink="/exercices/shopping-list-service">shopping list (service)</a></li>

    </ul>
</fieldset>